@import url("https://fonts.googleapis.com/css2?family=Chicle&family=Comfortaa:wght@300;400;500;600;700&display=swap");

:root {
  --color-light: #b4cfec;
  --color-light-10: #eff2f5;
  --color-light-20: #dbe3f1;
  --color-dark: black;
  --color-dark-5: #f2f2f2;
  --color-dark-10: #e6e6e6;
  --shadow: #7f9bff;
}

/* ------------------
General Style 
------------------ */

* {
  font-family: "Comfortaa";
  margin: auto;
  box-sizing: border-box;
}

html {
  background: rgb(180, 207, 236);
  background: radial-gradient(circle, var(--color-light) 0%, white 100%);
}

body {
  min-width: 320px;
  width: 85vw;
  height: 95vh;
  font-size: 1.2rem;
}

section {
  position: relative;
  display: flex;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  font-weight: bold;
}

a:focus {
  color: rgb(127, 155, 255);
  text-shadow: 1rem 1rem 4rem var(--shadow);
}

h1 {
  color: white;
  text-align: center;
  font-weight: 700;
  text-shadow: 1rem 1rem 4rem var(--shadow);
  padding-top: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 3rem;
  text-decoration: underline;
  text-decoration-color: var(--color-light);
  text-decoration-thickness: 0.5rem;
}

h4 {
  text-shadow: 0.05rem 0.05rem 0.1rem var(--shadow);
}

p {
  padding: 3rem 0;
  text-align: justify;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

footer {
  background-color: var(--color-dark);
  margin-bottom: 3rem;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.decoration {
  width: 70%;
  height: 25%;
  padding-top: 2rem;
  letter-spacing: 1.8rem;
  font-size: 2rem;
  text-align: center;
}

/* ------------------
Cover Style
------------------ */

.cover {
  margin-top: 2rem;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.cover__header {
  width: 35%;
  height: 100%;
  background-color: var(--color-dark);
}

.cover__header__content {
  position: relative;
  color: white;
  text-align: start;
  right: -55%;
  top: 30%;
  white-space: nowrap;
  z-index: 1;
}

.cover h3 {
  text-decoration: none;
}

.cover__header__content_h4 {
  width: fit-content;
  padding: 0.2rem;
  margin-left: 0;
  background-color: var(--color-light);
  color: black;
}

.cover__navbar {
  position: relative;
  width: 65%;
  height: 100%;
  background-color: var(--color-light-20);
  text-align: center;
}

.cover__navbar__content {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding: 2rem 1rem 2rem 0;
}

.cover__navbar__image {
  position: relative;
  height: 90%;
}

/* ------------------
Me Style 
------------------ */

.me {
  background-color: var(--color-light-10);
}

.me__image {
  width: 50%;
  /* Si lo descomento la imagen ocupa todo su lado */
  margin: 0;
  padding: 4rem;
}

.me__image > img {
  box-shadow: 1rem -1rem 0.5rem;
}

.me__content {
  width: 40%;
  padding: 2rem 3rem 2rem 2rem;
}

.me__content > h2 {
  padding-left: 2rem;
}

.me__content > div {
  display: flex;
  text-align: end;
  justify-content: space-between;
}

.me__content > div > div {
  margin: 0;
  padding-top: 1rem;
}

.me__content .decoration {
  padding: 0;
  letter-spacing: 0.5rem;
  white-space: nowrap;
  text-align: end;
}

/* 
------------------
Work Style 
------------------ */

.work {
  background-color: white;
  flex-direction: column;
}

.work__header {
  width: fit-content;
  margin: 0 auto 0 auto;
  padding-top: 2rem;
  text-align: end;
}

.work__categories {
  z-index: 1;
  text-align: center;
  margin: 0;
  padding: 2rem 15% 2rem 15%;
  display: flex;
  justify-content: space-evenly;
}

.work__projects {
  width: 70%;
  height: 100%;
  display: flex;
  margin-bottom: 2.5rem;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow-y: scroll;
}

.work__projects__project {
  display: flex;
  justify-content: center;
}

.work__projects__project div {
  padding: 1rem 0 0.2rem 0;
}

.work__projects__project img {
  width: 13rem;
  height: 10.5rem;
  padding: 0.5rem;
  object-fit: cover;
  object-position: center;
  box-shadow: 0.5rem -0.5rem 0.5rem var(--color-light),
    0.5rem -0.5rem 0.7rem black;
}

.work__projects__project img:hover {
  width: 13.5rem;
  height: 11rem;
  padding: 0;
  box-shadow: 0.4rem -0.4rem 0.5rem var(--shadow);
}

.work .decoration {
  position: absolute;
  width: fit-content;
  top: 0;
  right: 0;
  text-align: right;
  letter-spacing: 0.7rem;
  padding-top: 0;
  padding-right: 0.5rem;
  color: var(--color-dark);
}

/* 
------------------
My Blog Style 
------------------ */

.blog {
  background-color: var(--color-dark-5);
  position: relative;
  max-height: fit-content;
  min-height: fit-content;
  height: fit-content;
  padding: 4rem 0 4rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog__header {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 0 2rem;
}

.blog__header > p {
  text-align: center;
}

.blog__form {
  position: relative;
  width: 40%;
  margin: 0 auto;
}

.blog__form > form > input {
  display: inline-block;
  position: relative;
  margin-top: 1rem;
  padding: 0.7rem 0.5rem;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0.5rem 0.5rem var(--color-light);
  border: 1px solid var(--color-light-10);
  border-radius: 5px;
}

.blog__form > form input[type="submit"] {
  margin-top: 2rem;
  background: var(--color-light);
  border: none;
  font-size: 1.5rem;
}

.blog__form > form input[type="submit"]:hover {
  background-color: var(--shadow);
}

/* 
------------------
Contact Me Style 
------------------ */

.footer {
  background-color: var(--color-dark);
  text-align: center;
  color: white;
  padding: 2rem 1rem 2rem 1rem;
  width: fit-content;
}

.footer__header {
  width: fit-content;
}

.footer__header > h2 {
  font-size: 1.5rem;
  text-align: start;
}

.footer__data {
  margin: 4rem auto auto auto;
  display: flex;
  gap: 3rem;
}

.footer__networks {
  display: flex;
  margin: 4rem 4rem 2rem 4rem;
}

.footer__networks img {
  width: 3rem;
  padding: 0.05rem;
}
